@model List<Category>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <style>
        /* Apply styles to the table */
        table {
            width: 50%;
            margin: 0 auto; /* Center the table on the page */
            border-collapse: collapse;
        }

        /* Style for table header */
        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        /* Style for alternating rows */
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        /* Style for table cells */
        td, th {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row pt-4">
            <div class="col-6 text-primary"><h1>Category List</h1></div>
            <div class="col-6 text-end">
                <form class="d-flex" method="get" asp-controller="Category" asp-action="Search">
                    <input class="form-control me-sm-2" type="search" placeholder="Search" name="searchTerm">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var o in Model.OrderBy(u => u.CategoryOrder))
            {
                <tr>
                    <td>@o.Name</td>
                    <td>@o.CategoryOrder</td>
                </tr>
            }
        </tbody>
    </table>
        @if (Model.Count == 0)
        {
            <h2 class="text-center text-primary">Error: 404 <i class="bi bi-binoculars"></i></h2>
        }
        <div class="row pt-4">
        <div class="col-6"></div>
        <div class="col-6 text-end">
            
                    <button type="button" class="btn btn-primary" asp-controller="Category"
                    asp-action="Create">
                        <i class="bi bi-database-add"></i> Add New
                    </button>
        </div>
    </div>
    </div>
</body>
</html>
